name: Deploy Docker App to EC2

on:
  push:
    branches:
      - main
    paths:
      - "app/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Install Docker if not installed
            if ! command -v docker &> /dev/null
            then
              sudo apt update
              sudo apt install docker.io -y
              sudo systemctl start docker
              sudo systemctl enable docker
            fi

            # Go to project folder
            if [ ! -d "terraform_EC2_Automation" ]; then
              git clone https://github.com/Ranjithkumar-Pandiyan/terraform_EC2_Automation.git
            fi

            cd terraform_EC2_Automation
            git pull
            cd app

            # Build Docker image
            sudo docker build -t my-web-app .

            # Stop and remove old containers
            sudo docker stop $(sudo docker ps -q) || true
            sudo docker rm $(sudo docker ps -aq) || true

            # Run new container
            sudo docker run -d --name my-web-app-container -p 80:80 my-web-app